
//分部页面
@{
    ViewBag.Title = "ListPage";
}
@model IList<AspNetMvcAjaxWebApp1.Models.PersonViewModel>
<h2>分布页</h2>
<table class="table table-striped">
    <thead>
    @{ AspNetMvcAjaxWebApp1.Models.PersonViewModel p = null;}
    <tr>
        <th>@Html.LabelFor(m => @p.Email)</th>
        <th>@Html.LabelFor(m => @p.Name)</th>
        <th>@Html.LabelFor(m => @p.Home)</th>
        <th>@Html.LabelFor(m => @p.IsMarried)</th>
        <th>@Html.LabelFor(m => @p.Height)</th>
        <th>@Html.LabelFor(m => @p.PhoneNum)</th>
        @*也可以使用DisplayNameFor来显示表头*@
        @*<th>@Html.DisplayNameFor(m => Model[0].Email)</th>
            <th>@Html.DisplayNameFor(m => Model[0].Name)</th>
            <th>@Html.DisplayNameFor(m => Model[0].IsMarried)</th>
            <th>@Html.DisplayNameFor(m => Model[0].Height)</th>
            <th>@Html.DisplayNameFor(m => Model[0].PhoneNum)</th>*@
    </tr>

    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Email</td>
            <td>@item.Name</td>
            <td>@item.Home</td>
            <td>@item.IsMarried</td>
            <td>@item.Height</td>
            <td>@item.PhoneNum</td>
        </tr>
    }
    </tbody>
</table>