@using VM = AdminLteAspNetMVC1.ViewModel;
@using AdminLteAspNetMVC1.Common;
@model List<VM.SiteMenu>

@*<header id="navbarMenu" class="navbar  navbar-inverse navbar-fixed-top navbar-customer" role="navigation" style="z-index: 1000">*@
@*class="navbar  navbar-inverse navbar-customer"*@

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="centercontent">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="padding-left: 10px">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>

            <table style="margin-top: 0px; height: 50px;">
                <tr>
                    <td style="padding: 0 1px;">

                        <a class="navbar-brand" href="/" style="padding:1px 1px;">
                            <img style="width:86px; height:48px; " src="/Images/logo.jpg" alt="System Logo" />
                        </a>

                    </td>
                </tr>
            </table>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                @if (Model != null)
                {
                    @Html.Menu(Model)
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @*@if (userName != null)
                    {
                        <li><a href="@Url.Action("Index", "UserProfile", new { area = "SystemMaint", company = companyCode })">@userName</a></li>
                        <li><a href="@Url.Action("SignOut", "Login", new { area = "Account" })">@CommonResource.Sign_Out</a></li>
                    }*@
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div>