@model EMS.Model.SampleItemModel

@{
    ViewBag.Title = "Delete";
}

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>SampleItemModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdatedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedByID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdatedByID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedByID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedByID)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
